* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



#logo {
    width: 64px;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 12px;
}

.izquierda {
    display: flex;
    align-items: center;
    gap: 24px
}

.derecha {
    display: flex;
    align-items: center;
    gap: 24px
}

.burger {
    padding: 12px;
    border: 1px solid #1A1A1A;
    border-radius: 4px;
    display: flex;
}

.burger img {
    width: 24px;
}

.container {
    /* max-width: 800px; */
    margin: auto;
    padding: 24px;
    background-color: rgb(172, 172, 172);
    margin-top: 12px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}